<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CMG Prep</title>
      <base href="/">
      <!--link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="assets/stylesheets/all.min.css"-->
   </head>
   <body>
      <div class="container">
         <div class="row banner">
            <div class="col-12">
               <h1>CMG</h1>
            </div>
         </div>
         <div class="row">
            <div class="row"></div>
            <div class="col-12 col-md-4">
               <label for="selectWells">
                  Select Wells to Gather
                  <div class="row"></div>
                  <select id="check" name="selectWells" size="20" multiple="" required="">
                     <option *ngFor="let well of wellNames" [value]="well.API">{{well.Well}}</option>
                  </select>
               </label>
            </div>
         </div>
         <div class="row">
            <input type = "text" [(ngModel)]="inputText">
            {{inputText}}
         </div>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script><script src="javascripts/bootstrap.min.js"></script>
         <footer>
            <div class="row">
               <div class="col-xs-12"><small>© Daniel Taylor 2020</small></div>
            </div>
         </footer>
      </div>
   </body>
</html>